<!DOCTYPE HTML>
<html>
<head>
    <title>스프링 부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app/main.css">
</head>
<body>
<div class="header">
    <h1><a href="/">스프링 부트로 시작하는 웹 서비스 Ver.3</a></h1>
    <div class="login">
        {{#userEmail}} <!--참일 경우-->
            {{#userPicture}}
                <span class="profile"><img src="{{userPicture}}"></span>
            {{/userPicture}}
            {{^userPicture}}
                <span class="profile"></span>
            {{/userPicture}}
            <span id="user">{{userEmail}}</span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/userEmail}}
        {{^userEmail}} <!--거짓일 경우-->
            <a href="/oauth2/authorization/google" class="google btn btn-success active" role="button">google Login</a>
            <a href="/oauth2/authorization/naver" class="naver btn btn-secondary active" role="button">Naver Login</a>
        {{/userEmail}}
    </div>
</div>
